#kireji_app editor- {
 position: absolute;
 top: 0;
 left: var(--sidebar-width);
 right: 0;
 bottom: 0;
}

#kireji_app editor-view {
 container-type: inline-size;
 container-name: editor-view;
 position: absolute;
 top: calc(var(--tab-group-height) + var(--crumbs-height));
 left: 0;
 right: 0;
 bottom: 0;
 overflow: clip;
}

#kireji_app editor-[data-drop-target] :is(editor-view, crumbs-)::after {
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: var(--bg-light-er);
 opacity: 0.35;
}

#kireji_app crumbs- {
 position: absolute;
 top: var(--tab-group-height);
 left: 0;
 right: 0;
 height: var(--crumbs-height);
 line-height: var(--crumbs-height);
 display: flex;
 padding: 0 calc(var(--spacing) / 2);
}

#kireji_app crumbs->span {
 display: block;
 transform: translateX(calc(100% / -6)) rotateZ(-45deg) scale(calc(1 / 3));
 box-shadow: 3px 3px 0 0 var(--fg);
 width: var(--crumbs-height);
}

#kireji_app crumbs->a:last-of-type {
 pointer-events: none;
 text-decoration: none;
 color: inherit;
}

#kireji_app crumbs->a:not(:hover) {
 text-decoration: none;
}

#kireji_app a .modifier {
 color: var(--accent-mode);
}

#kireji_app a .readonly {
 color: var(--accent-un-mode-er);
}

#kireji_app a .function {
 color: darkkhaki;
}

#kireji_app a .string {
 color: darksalmon;
}

body.light #kireji_app a .modifier {
 color: var(--accent-mode);
}

body.light #kireji_app a .readonly {
 color: var(--accent-un-mode-er);
}

body.light #kireji_app a .function {
 color: darkgoldenrod;
}

body.light #kireji_app a .string {
 color: sienna;
}

body.light #kireji_app editor-[data-drop-target] :is(editor-view, crumbs-)::after {
 background: var(--accent-light-er);
}

#kireji_app editor-view>scroller->scroll-content {
 padding: var(--spacing);
 gap: var(--spacing);
 display: flex;
 flex-flow: column;
}

#kireji_app editor-view>scroller->scroll-content:has(#file-viewer) {
 padding: 0;
}

#kireji_app editor-:has(#tab-group:empty) editor-view>scroller->scroll-content {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 justify-content: center;
 height: 100%;
 color: var(--bg-un-mode);
}

#kireji_app editor-:has(#tab-group:empty) editor-view>scroller->scroll-content>svg {
 opacity: 50%;
}

#kireji_app:has(#tab-group:empty) :is(editor-view>scroll-bar, crumbs-) {
 display: none;
}

#kireji_app:has(#tab-group:empty) editor-view>scroller- {
 margin-right: 0;
 width: 100%;
 transform: unset !important;
 height: 100%;
}

#file-viewer {
 margin: 0;
 padding: 0;
 counter-reset: ln;
 padding-bottom: calc(100vh - var(--tab-group-height) - var(--crumbs-height) - var(--task-bar-height) - var(--warning-height) - var(--code-line-height));
}

#kireji_app editor-view>scroller-:has(#file-viewer) {
 --code-line-height: calc(var(--default-font-size) + 4px);
 line-height: var(--code-line-height);
}

#file-viewer {
 font-family: var(--system-ui-mono);
 display: flex;
 flex-direction: column;
 user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 cursor: text;
}

#file-viewer .code-line {
 display: block;
 position: relative;
 padding-left: 5em;
 margin: 0;
}

#file-viewer code {
 white-space: pre-wrap;
 hyphens: none;
 overflow-wrap: anywhere;
}

#file-viewer .line-number {
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 width: 5em;
 padding: 0 1em;
 text-align: right;
 color: var(--bg-un-mode);
 pointer-events: none;
 user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

#kireji_app editor-view>scroller->scroll-content>section>h1 {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

#kireji_app #description {
 white-space: pre-wrap;
}

#kireji_app #part-intro>* {
 vertical-align: middle;
}

#kireji_app #part-intro>div {
 display: inline-block;
}

#kireji_app #part-intro>img {
 width: 64px;
 margin-right: var(--spacing);
}

#kireji_app part-table,
#kireji_app part-rows {
 display: grid;
 grid-template-columns: 1fr auto;
 width: 100%;
}

#kireji_app part-rows {
 grid-template-columns: 1fr;
}

#kireji_app part-table>*:nth-child(even) {
 text-align: right;
}

#kireji_app :is(part-table, part-rows)>* {
 line-height: var(--tab-line-height);
 padding: 0 !important;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

#kireji_app editor-view>scroller->scroll-content :is(h1, h2, h3, summary) {
 margin: 0;
}

#info-properties a:not(:hover) {
 text-decoration: none;
}

#kireji_app .info-section:not(#info-about)>section:not([disabled])> :is(pre, p) {
 overflow: hidden;
}

#kireji_app :is(#info-state, #info-state-space)>section[disabled]>:not(.disabled-message),
#kireji_app :is(#info-state, #info-state-space)>section:not([disabled])>.disabled-message {
 display: none;
}

body.modern #kireji_app editor-view {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode);
}

body.modern #kireji_app editor-view>scroller->scroll-content {
 /* Set max-width of pane
  padding: var(--padding) max(calc((100vw - var(--sidebar-width) - 696px) / 2), var(--spacing));
 */
 gap: var(--padding);
}

body.modern.light #kireji_app :is(editor-view, crumbs-) {
 background-color: var(--bg-light-est);
}

body.modern.dark #kireji_app :is(editor-view, crumbs-) {
 background-color: var(--bg-mode);
}

/*@container editor-view (width < 696px) {*/
body.modern #kireji_app editor-view>scroller->scroll-content {
 --padding: var(--spacing);
 --gap: calc(1.5 * var(--spacing));
}

/*}*/

@container editor-view (width > 350px) {
 body.modern #kireji_app #info-state-space>section:not([disabled])>:is(p, h3) {
  display: inline-block;
 }

 body.modern #kireji_app #info-state-space>section:not([disabled])>p {
  float: right;
  margin: 0;
 }
}

body.modern #kireji_app:has(#tab-group:empty) editor-view {
 top: 0;
}

body.modern #kireji_app .info-section {
 box-shadow:
  inset 0 0 0 1px var(--bg-un-mode),
  2px 3px 8px -2px var(--bg-dark);
 padding: 0;
 border-radius: 3px;
}

body.modern #kireji_app .info-section>summary {
 padding: var(--spacing);
 margin: 0;
}

body.modern #kireji_app .info-section>section {
 margin: var(--spacing);
 padding: 0;
}

body.modern #kireji_app .info-section>section>hr {
 padding: 0;
 margin: var(--spacing) calc(var(--spacing) * -1);
 border: none;
 height: 1px;
 background-color: var(--bg-un-mode);
}

body.modern #kireji_app .info-section>summary {
 background-color: var(--accent-mode-est);
 box-shadow: inset 0 0 0 1px var(--bg-un-mode);
 cursor: pointer;
 font-size: 1.5em;
 font-weight: bold;
}

body.modern #kireji_app [disabled] {
 color: var(--fg-mode-er);
}

body.modern #kireji_app .info-section:has(>section[disabled])>summary {
 background-color: var(--bg-light);
}

body.vintage #kireji_app editor- {
 left: calc(12px + var(--sidebar-width));
 top: 12px;
 right: 10px;
 bottom: 10px;
}

body.vintage #kireji_app editor-::before {
 box-shadow: var(--deep-inset);
 position: absolute;
 content: "";
 top: calc(var(--tab-group-height) - 2px + var(--crumbs-height) + 2px);
 right: -2px;
 left: -2px;
 bottom: -2px;
}

body.vintage #kireji_app editor-::after {
 content: "";
 position: absolute;
 box-shadow: var(--outset);
 top: calc(var(--tab-group-height) - 6px);
 bottom: -6px;
 left: -6px;
 right: -6px;
 pointer-events: none;
}

@container editor-view (width > 350px) {
 body.vintage #kireji_app #info-state-space>section {
  display: grid;
  grid-template-columns: max-content 1fr;
 }

 body.vintage #kireji_app #info-state-space>section>h3 {
  align-self: center;
  margin-right: 1ch;
 }
}

body.vintage #kireji_app editor-view {
 top: calc(var(--tab-group-height) + var(--crumbs-height) + 2px);
}

body.vintage #kireji_app editor-view:not(:has(#file-viewer)) {
 background-color: var(--bg);
}

body.vintage #kireji_app editor-:has(#tab-group:empty) editor-view {
 top: 0;
}

body.vintage #kireji_app editor-:has(#tab-group:empty)::before {
 content: unset;
}

body.vintage #kireji_app editor-:has(#tab-group:empty)::after {
 top: -8px;
}

body.vintage #kireji_app crumbs- {
 top: calc(var(--tab-group-height) - 2px);
 left: -2px;
 right: -2px;
}

body.vintage #kireji_app #file-viewer {
 padding-bottom: calc(100vh - var(--tab-group-height) - var(--crumbs-height) - var(--task-bar-height) - var(--warning-height) - var(--code-line-height) - 24px);
}

body.vintage.light #kireji_app editor-view {
 background-color: white;
}

body.vintage.dark #kireji_app editor-view {
 background-color: var(--bg);
}

body.vintage #kireji_app .info-section:not(#info-about)>section>hr {
 display: none;
}

body.vintage #kireji_app part-table>* {
 padding: 0;
 line-height: var(--tab-line-height);
}

body.vintage #kireji_app #description {
 margin: 0;
}

/* Single-line closed boxes

 body.vintage #kireji_app .info-section:not([open]) {
  border: 1px inset var(--bg-mode-er);
  margin-bottom: 6px;
  padding: 0;
 }

 body.vintage #kireji_app .info-section[open] {
  border: 2px groove var(--bg-mode-er);
  padding: calc(var(--tab-line-height) / 2);
 }
*/

body.vintage #kireji_app .info-section {
 border: 2px groove var(--bg-mode-er);
 padding: calc(var(--tab-line-height) / 2);
}

body.vintage #kireji_app .info-section {
 position: relative;
}

body.vintage #kireji_app .info-section>summary {
 top: calc(var(--tab-line-height) * -0.5 - 2px);
 left: calc(var(--tab-line-height) / 2);
 font-weight: 400;
 line-height: var(--tab-line-height);
 margin: 0;
 padding: 0 2px;
 background-color: var(--bg);
 font-size: var(--default-font-size);
 position: absolute;
 pointer-events: all;
}

body.vintage #kireji_app h3 {
 font-size: inherit;
 font-weight: inherit;
}

body.vintage #kireji_app :not(#part-intro>div)>h3::after {
 content: ":";
}

body.vintage #kireji_app .info-section:not(#info-about)>section:not([disabled])> :is(pre, p) {
 box-shadow: var(--deep-inset);
 padding: 5px 4px 9px 4px;
 background: white;
 margin: 4px 0;
 white-space: pre;
 word-wrap: none;
}

body.vintage #kireji_app .info-section:not(#info-about)>section:not([disabled])> :is(pre, p):focus {
 user-select: text;
}

body.dark.vintage #kireji_app .info-section:not(#info-about)>section:not([disabled])> :is(pre, p) {
 background: transparent;
}