#kireji_app {
 --handle-thickness: calc(var(--spacing) / 1.5);
}

body.vintage #kireji_app {
 --handle-thickness: 8px;
}

#kireji_app width-handle {
 position: absolute;
 left: calc(var(--sidebar-width) - var(--handle-thickness) / 2);
 top: 0;
 bottom: 0;
 width: var(--handle-thickness);
 border-radius: calc(var(--handle-thickness) / 2);
 z-index: 100;
}

body.dragging-width-handle #kireji_app {
 cursor: ew-resize !important;
}

body.dragging-width-handle #kireji_app * {
 pointer-events: none;
}

#kireji_app width-handle:hover,
body.dragging-width-handle #kireji_app width-handle {
 background-color: var(--accent);
 cursor: ew-resize;
}

body.vintage #kireji_app width-handle {
 left: calc(var(--sidebar-width) - var(--handle-thickness) / 2 + 3px);
}