#kireji_app {
 font: inherit;
 --tool-bar-width: calc(var(--tab-icon-size) + (1.75 * var(--spacing)));
 --sidebar-width: var(--tool-bar-width);
 overscroll-behavior: none;
}

#kireji_app:has(side-bar) {
 --sidebar-width: calc(var(--tool-bar-width) + var(--sidebar-view-width));
}

body.modern #kireji_app {
 --tab-group-height: calc(var(--tab-line-height) + var(--spacing) / 1.5);
 --tab-line-height: 26px;
 --crumbs-height: 26px;
 --tab-icon-size: 20px;
}

body.vintage #kireji_app {
 --tab-group-height: calc(var(--tab-line-height) + 2px);
 --tab-line-height: 20px;
 --crumbs-height: 20px;
 --tab-icon-size: 16px;
}