*,
*::before,
*::after {
 box-sizing: border-box;
 -webkit-user-select: inherit;
 -ms-user-select: inherit;
 user-select: inherit;
}

[tabIndex] {
 outline: none;
}

html:has(body.unhydrated) {
 cursor: wait;
}

#application-control {
 display: block;
 margin: 0;
 padding: 0;
 flex: 1 1;
 height: auto;
 overflow: hidden;
}

html,
body {
 --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --system-ui-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
 --menu-tween: 0;
 --h: 100vh;
 --warning-height: 28px;
 --wallpaper-height: calc(var(--h) - var(--task-bar-height) - var(--warning-height));
 --wallpaper-width: 100vw;
 --padding: calc(3.5 * var(--spacing));
 --gap: calc(2.5 * var(--spacing));
 --scrollbar-width: 20px;
 --radius: calc(var(--spacing) / 2.5);
 overscroll-behavior: none;
 margin: 0;
 height: var(--h);
 font-synthesis: weight style;
 color: var(--fg);
 background: var(--bg);
 user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

wallpaper- {
 --app-height: var(--wallpaper-height);
 --app-width: var(--wallpaper-width);
 position: fixed;
 top: var(--warning-height);
 height: var(--wallpaper-height);
 left: 0;
 right: 0;
 overflow: hidden;
 overflow: clip;
 touch-action: manipulation;
}

@media (width < 640px) {

 html,
 body {
  --padding: var(--spacing);
  --gap: calc(1.5 * var(--spacing));
 }
}

@supports (height: 100dvh) {

 html,
 body {
  --h: 100dvh;
 }
}

a,
a:visited {
 color: var(--accent-light);
 text-decoration: underline;
 cursor: pointer;
}

a:hover {
 color: var(--fg-un-mode-er);
}

a.external {
 white-space: nowrap;
}

a.external::after {
 content: '↗';
 color: inherit;
 display: inline-block;
 font-size: inherit;
 font-weight: 900;
 height: 1ch;
 width: 1ch;
 margin: 0 0.5ch;
 text-decoration: none;
}

pre {
 font-family: var(--system-ui-mono);
}

scroller- {
 display: flow-root;
 transform: translateY(0);
 overflow: hidden;
 scrollbar-width: none;
 overscroll-behavior: none;
}

scroller-::-webkit-scrollbar {
 display: none;
}

scroll-bar {
 position: absolute;
 right: 0;
 top: 0;
 bottom: 0;
 width: var(--scrollbar-width);
}

scroll-bar>:is(.scroll-up, thumb-, .scroll-down) {
 position: absolute;
 right: 0;
 width: var(--scrollbar-width);
}

scroll-bar>thumb- {
 top: calc(var(--thumb-start) + var(--track-height) * var(--fraction));
 height: calc(var(--track-height) / var(--ratio));
}

body:not(.unhydrated) scroller- {
 overflow-y: auto;
 height: 100%;
}

body.unhydrated :is(a, button) {
 pointer-events: none;
}

scroll-content {
 display: block;
 height: fit-content;
}

scroll-bar[disabled]>thumb- {
 display: none;
}

task-menu {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0;
 padding: 0;
 outline: none;
}

button,
menu-button {
 background: transparent;
 padding: 0;
 margin: 0;
 border: none;
 color: inherit;
 font-family: inherit;
 line-height: inherit;
}

button:focus {
 outline: none;
}

task-bar>menu-button {
 position: absolute;
 left: var(--spacing);
 bottom: var(--spacing);
}

task-sidebar {
 margin: 0;
 position: fixed;
 overflow: hidden;
 display: flex;
 flex-flow: column;
}

#settings {
 display: flex;
 flex-flow: column;
}

#settings>span {
 display: flex;
 justify-content: space-between;
 padding: 5px;
 gap: 5px;
}

.task-link {
 display: contents;
}

.task-link>a,
.task-link>a:visited {
 text-decoration: none;
 color: inherit;
 display: flex;
 flex: 0;
 font-weight: 500;
 margin: 0;
 position: relative;
 align-items: center;
}

.task-link>a>.label {
 flex: 1 1;
}

.part-icon {
 height: var(--icon-size);
 width: var(--icon-size);
 border-radius: calc(var(--icon-size) * 0.2);
}

#logo {
 font-weight: 700;
}

task-bar {
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 height: var(--task-bar-height);
 margin: 0;
 line-height: var(--task-bar-height);
 display: flex;
}

task-bar>button {
 width: var(--icon-size);
}

flex-spacer {
 flex: 1;
}

/* This aims to fix Apple's nonstandard HTML link injections on iOS. */
a[x-apple-data-detectors] {
 display: contents !important;
 pointer-events: none !important;
 color: inherit !important;
 text-decoration: none !important;
}

img[src^="data:image/svg+xml;inert;"] {
 overflow: hidden;
 animation: loading-gradient 1.7s infinite linear;
 background: linear-gradient(to right, var(--bg-dark) 0%, var(--bg-light) 50%, var(--bg-dark) 100%), var(--bg-dark);
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

@keyframes loading-gradient {
 0% {
  background-position: -100vw 0;
 }

 100% {
  background-position: 100vw 0;
 }
}

warning- {
 height: var(--warning-height);
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: #f0bf64;
 font-weight: 500;
 font-size: 11px;
 line-height: 14px;
 padding: 7px;
 text-align: center;
}

body.dark warning- {
 background-color: #644c08;
}

@media (width < 390px) {

 html,
 body {
  --warning-height: 49px;
 }
}


#fullscreen-tray-item,
#share-tray-item {
 display: none !important;
}

#stats-tray-item,
#clock-tray-item {
 font-size: revert;
}